<header class="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="../../../assets/logo-AC-att.png" alt="logoAC"/>                
            </div>
            <div class="col-lg-10">
                <h1 class="display-3 text-white mt-5 mb-2 header-text">Accompany Car</h1> 
                <p class="lead mb-5 text-white desc-header-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</header>

